<html lang="en">

  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Ksiega gosci</title>
  </head>

  <body>
  <div>
  <% for (const i in data.wpis) { %>
	<% let items = data.wpis[i]; %>
	<h1><%= items['name'] %></h1>
	<p><%= items['area'] %></p>
  <% } %>
  </div>
	<main>
	  <h3>Nowy wpis:</h3>
	  <form method="POST" action="/">
		<label for="name">Twoje imię i nazwisko</label>
		<br>
		<input name="name">
		<br>
		<label for="area">Treść wpisu</label>
		<br>
		<textarea name="area"></textarea>
		<br>
		<input type="submit">
	  </form>
	</main>
  </body>

</html>